//

@import "partials/variables";
@import "partials/common";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.home-header{
    width: 80%;
    height: 14vh;
    margin: 0 auto;

    div#header-container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        img{
        height: 70%;
        }
            
        nav{
        height: 100%;
        line-height: 100px;

            ul{
            height: 100%;
            list-style-type: none;
            display: flex;

                li{
                height: 100%;
                padding: 0 .3rem;
                text-transform: uppercase;
                font-size: .8rem;
                cursor: pointer;

                &:hover,
                &.active{
                    border-bottom: 5px solid #0c7cec;
                }
                a{
                    text-decoration: none;
                    font-weight: bold;
                    color: #575757;

                    &.active,
                    &:hover{
                    color: #0c7cec;
                    }
                }
                }
            }
        }
        div.input-container{
            width: inherit;
            input{
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid #0c7cec;
                text-align: end;
                padding: .4rem;
            }
        }
    }
}
div.jumbotron{
    height: 45vh;
    background-image: url('/images/jumbotron.jpg');
    background-size: cover;
}

.text-center{
text-align: center;
}

div.products-wrapper{
width: 100%;
background-color: #1c1c1c;
div#products{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    
    a.buttons{
    width: 150px;
    background-color: #0282f9;
    padding: .6rem 0;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    }
    a#load-series{
        margin-top: 2rem;

    }
    a#current-series{
        position: absolute;
        left: 3%;
        top: -3%;
    }

}
}
div#products-links{
    width: 100%;
    height: 16vh;
    background-color: #0282f9;

    div#links-to-shop{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    div.single-link{
        height: 100%;
        margin: 0 .8rem;
        display: flex;
        align-items: center;

        img{
        height: 35%;
        }

        p{
        text-transform: uppercase;
        margin-left: .5rem;
        font-weight: bold;
        font-size: .8rem;
        }
    }


    }
}
div.products-card{
    width: calc( 100% / 6);
    height: 200px;
    padding: 1rem .7rem ;

        img{
            width: 10vw;
            height: 10vw;
            object-fit: cover;
            object-position: top;
            padding-bottom: .4rem;
        }

        p{
            font-size: .8rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        a{
            font-size: .9rem;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-weight: bold;

            &:hover{
                color: $lightBlueBrandColor;
            }
        }
}


div#footer-top{
    width: 100%;
    height: 42vh;
    background-color: black;
    background-image: url("/images/footer-bg.jpg");

div#top-footer-wrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    color: white;

    div#top-footer-links{
    width: 50%;
    display: flex;

    h4{
        text-transform: uppercase;
        padding: .9rem 0;
    }

    ul{
        list-style-type: none;


        a{
        text-decoration: none;
        color: grey;
        font-size: .7rem;

        &:hover{
            color: white;
        }
        }
    }
    }

    div#top-footer-image{
    width: 40%;
    height: 100%;
    background-image: url("/images/dc-logo-bg.png");
    background-position: center;
    background-size: cover;
    }
}
}

.pad-1{
padding: 0 .8rem;
}

.mar-2{
margin: 0 .4rem;
}

div#footer-bottom{
width: 100%;
height: 14vh;
background-color: #303030;

div#footer-bottom-wrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div#footer-subscription{
    
    a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: .7rem;
        font-size: .8rem;
        font-weight: bold;
        border: 2px solid #0282f9;
    }
    }

div#footer-follow-us{
    height: 100%;
    display: flex;
    align-items: center;

    h3{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 1rem;
    font-size: 1rem;
    color: $lightBlueBrandColor;
    }
}

}
}

div.top-banner-product{
    height: 12vh;
    background-color: $lightBlueBrandColor;
    position: relative;

    img{
        position: absolute;
        left: 20%;
        bottom: 25%;
    }
}

div.comic-content-top{
    min-height: 40vh;

    div.comic-container{
        width: 65%;
        min-height: 40vh;
        padding: 2rem 0;
        margin: 0 auto;
        display: flex;
        gap: 3rem;

        div.left-comic-container{
            width: 70%;
            min-height: 40vh;
            
            h2{
                text-transform: uppercase;
                color: #003f5e;
            }
        
            div.comic-price{
                margin: 1rem 0;
                padding: 1rem 2rem;
                font-weight: bold;
                color: white;
                background-color: #55ba59;
                display: flex;
                justify-content: space-between;
        
            }

            p.description{
                color: gray;
            }
        }

        div.right-comic-container{
            width: 30%;
        }

    }
}

div.comic-content-bottom{
    min-height: 40vh;
    background-color: #f6f6f6;

    div.comic-container{
        width: 65%;
        min-height: 40vh;
        padding-top: 2rem;
        padding-bottom: 4rem;
        margin: 0 auto;
        display: flex;
        gap: 3rem;

        div.talent{
            width: 55%;

            h3{
                color: #003f5e;
                margin-bottom: 2rem;
            }
            div.comic-infos{
                padding: .8rem 0;
                border-top: 1px solid #dcdcdc;
                border-bottom: 1px solid #dcdcdc;
                display: flex;
                justify-content: space-between;
                gap: 4rem;

                a{
                    font-size: .9rem;
                    text-decoration: none;
                }
            }
        }

        div.specs{
            width: 45%;

            h3{
                color: #003f5e;
                margin-bottom: 2rem;
            }

            div.comic-infos{
                padding: .8rem 0;
                border-top: 1px solid #dcdcdc;
                border-bottom: 1px solid #dcdcdc;
                display: flex;
                justify-content: space-between;
                gap: 4rem;
            }
        }
    }
}

div.links-to-buy{
    min-height: 15vh;
    background-color: #f6f6f6;
    border-top: 2px solid #dcdcdc;

    div.links-wrapper{
        width: 70%;
        margin: 0 auto;
        min-height: 15vh;
        display: flex;
        justify-content: center;

        div.shop-link{
            width: 25%;
            height: 15vh;
            padding: 1rem;
            border-left: 2px solid #dcdcdc;
            border-right: 2px solid #dcdcdc;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            color: grey;

            span{
                text-transform: uppercase;
                font-size: .8rem;
                font-weight: bold;
                color: grey;
            }

            img{
                height: 100%;
                filter: brightness(50%);
            }
        }
    }
}



.uppercase{
    text-transform: uppercase;
}

.bg-none{
    background-color: none;
}