.infos-width {
  width: 65%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.home-header {
  width: 80%;
  height: 14vh;
  margin: 0 auto;
}
div.home-header div#header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
div.home-header div#header-container img {
  height: 70%;
}
div.home-header div#header-container nav {
  height: 100%;
  line-height: 100px;
}
div.home-header div#header-container nav ul {
  height: 100%;
  list-style-type: none;
  display: flex;
}
div.home-header div#header-container nav ul li {
  height: 100%;
  padding: 0 0.3rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
}
div.home-header div#header-container nav ul li:hover, div.home-header div#header-container nav ul li.active {
  border-bottom: 5px solid #0c7cec;
}
div.home-header div#header-container nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #575757;
}
div.home-header div#header-container nav ul li a.active, div.home-header div#header-container nav ul li a:hover {
  color: #0c7cec;
}
div.home-header div#header-container div.input-container {
  width: inherit;
}
div.home-header div#header-container div.input-container input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #0c7cec;
  text-align: end;
  padding: 0.4rem;
}

div.jumbotron {
  height: 45vh;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

.text-center {
  text-align: center;
}

div.products-wrapper {
  width: 100%;
  background-color: #1c1c1c;
}
div.products-wrapper div#products {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
div.products-wrapper div#products a {
  width: 150px;
  background-color: #0282f9;
  padding: 0.6rem 0;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
div.products-wrapper div#products a#load-series {
  margin-top: 2rem;
}
div.products-wrapper div#products a#current-series {
  position: absolute;
  left: 3%;
  top: -3%;
}

div#products-links {
  width: 100%;
  height: 16vh;
  background-color: #0282f9;
}
div#products-links div#links-to-shop {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
div#products-links div#links-to-shop div.single-link {
  height: 100%;
  margin: 0 0.8rem;
  display: flex;
  align-items: center;
}
div#products-links div#links-to-shop div.single-link img {
  height: 35%;
}
div#products-links div#links-to-shop div.single-link p {
  text-transform: uppercase;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
}

div.products-card {
  width: 16.6666666667%;
  height: 200px;
  padding: 1rem 0.7rem;
}
div.products-card img {
  width: 10vw;
  height: 10vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  padding-bottom: 0.4rem;
}
div.products-card p {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
div.products-card a {
  text-decoration: none;
  background-color: inherit;
}

div#footer-top {
  width: 100%;
  height: 42vh;
  background-color: black;
  background-image: url("/images/footer-bg.jpg");
}
div#footer-top div#top-footer-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
}
div#footer-top div#top-footer-wrapper div#top-footer-links {
  width: 50%;
  display: flex;
}
div#footer-top div#top-footer-wrapper div#top-footer-links h4 {
  text-transform: uppercase;
  padding: 0.9rem 0;
}
div#footer-top div#top-footer-wrapper div#top-footer-links ul {
  list-style-type: none;
}
div#footer-top div#top-footer-wrapper div#top-footer-links ul a {
  text-decoration: none;
  color: grey;
  font-size: 0.7rem;
}
div#footer-top div#top-footer-wrapper div#top-footer-links ul a:hover {
  color: white;
}
div#footer-top div#top-footer-wrapper div#top-footer-image {
  width: 40%;
  height: 100%;
  background-image: url("/images/dc-logo-bg.png");
  background-position: center;
  background-size: cover;
}

.pad-1 {
  padding: 0 0.8rem;
}

.mar-2 {
  margin: 0 0.4rem;
}

div#footer-bottom {
  width: 100%;
  height: 14vh;
  background-color: #303030;
}
div#footer-bottom div#footer-bottom-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div#footer-bottom div#footer-bottom-wrapper div#footer-subscription a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0.7rem;
  font-size: 0.8rem;
  font-weight: bold;
  border: 2px solid #0282f9;
}
div#footer-bottom div#footer-bottom-wrapper div#footer-follow-us {
  height: 100%;
  display: flex;
  align-items: center;
}
div#footer-bottom div#footer-bottom-wrapper div#footer-follow-us h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1rem;
  font-size: 1rem;
  color: #0282f9;
}

div.top-banner-product {
  height: 12vh;
  background-color: #0282f9;
  position: relative;
}
div.top-banner-product img {
  position: absolute;
  left: 20%;
  bottom: 25%;
}

div.comic-content-top {
  min-height: 40vh;
}
div.comic-content-top div.comic-container {
  width: 65%;
  min-height: 40vh;
  padding: 2rem 0;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}
div.comic-content-top div.comic-container div.left-comic-container {
  width: 70%;
  min-height: 40vh;
}
div.comic-content-top div.comic-container div.left-comic-container h2 {
  text-transform: uppercase;
  color: #003f5e;
}
div.comic-content-top div.comic-container div.left-comic-container div.comic-price {
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-weight: bold;
  color: white;
  background-color: #55ba59;
  display: flex;
  justify-content: space-between;
}
div.comic-content-top div.comic-container div.left-comic-container p.description {
  color: gray;
}
div.comic-content-top div.comic-container div.right-comic-container {
  width: 30%;
}

div.comic-content-bottom {
  min-height: 40vh;
  background-color: #f6f6f6;
}
div.comic-content-bottom div.comic-container {
  width: 65%;
  min-height: 40vh;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}
div.comic-content-bottom div.comic-container div.talent {
  width: 55%;
}
div.comic-content-bottom div.comic-container div.talent h3 {
  color: #003f5e;
  margin-bottom: 2rem;
}
div.comic-content-bottom div.comic-container div.talent div.comic-infos {
  padding: 0.8rem 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
div.comic-content-bottom div.comic-container div.talent div.comic-infos a {
  font-size: 0.9rem;
  text-decoration: none;
}
div.comic-content-bottom div.comic-container div.specs {
  width: 45%;
}
div.comic-content-bottom div.comic-container div.specs h3 {
  color: #003f5e;
  margin-bottom: 2rem;
}
div.comic-content-bottom div.comic-container div.specs div.comic-infos {
  padding: 0.8rem 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
div.comic-content-bottom div.comic-container div.specs div.comic-infos a {
  font-size: 0.9rem;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.bg-none {
  background-color: none;
}